#box {
    padding: 3em;
    background: #212121;
    margin-top: 3em;
    color: white;
}

#submit {
    color: black;
}

body {
    background-image: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg");
}
