.fixed-action-btn{
    bottom: 50%;
}

.side-nav{
    width: 50%;
}

#image_div{
    display:flex;
    justify-content: center;
    align-items: center;
}
#org_image{
    width: 150px;
    height: 150px;
}
