#box {
    padding: 3em;
    background: #212121;
    margin-top: 3em;
    color: white;
}
.error-message{
  display: table-cell;
  vertical-align: middle;
}
.error-message-div{
  display: table;
}
#submit {
    color: black;
}

body {
    background-image: url("http://eskipaper.com/images/black-wallpaper-8.jpg");
}
